* {
  --button-color: #7472f7;
  --accent-color: #aea7fa;
  --button-color-hover: #131196;
  --input-color-panel: #e0e0e9;
}

.header__flower--form {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #9d55e5;

  .flower--table__link {
    margin-right: 20vw;

    .flower--table__link__button {
      font-weight: bold;
      background-color: var(--button-color);
    }

    .flower--table__link__button:hover {
      background-color: var(--button-color-hover);
    }
  }
}

#form {
  display: flex;
  justify-content: center;

  .form--block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--accent-color);

    #price {
      border: var(--accent-color) 2px solid;
    }

    .form--color {

      #color {
        background-color: #fff;
        border: var(--accent-color) 2px solid;
        box-shadow: 0 0 5px var(--input-color-panel);
      }

      #color:focus {
        outline: none;
        border:2px solid var(--button-color);
      }
    }

    .form--name {
      margin-top: 12px;
      width: 15vw;

      #name {
        box-shadow: 0 0 5px var(--input-color-panel);
        background-color: #fff;
        border: var(--accent-color) 2px solid;
      }

      #name:focus {
        outline: none;
        border:2px solid var(--button-color);
      }
    }

    .button--submit {
        margin-top: 10px;
        height: 13%;
        width: 35%;
        border: none;
        border-radius: 5px;
        background-color: var(--button-color);
        color: aliceblue;
        cursor: pointer;
    }

    .button--submit:hover {
        background-color: var(--button-color-hover);
    }
  }
}

@media (max-width: 1400px) {
  #form {

    .form--block {

      .form--name {
        width: 100%;
      }
    }
  }
}
