@use '../common/style' as *;

.header__flower--form {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #9d55e5;

  .flower--table__link {
    margin-right: 20vw;

    .flower--table__link__button {
      font-weight: bold;
      background-color: $button-color;
    }

    .flower--table__link__button:hover {
      background-color: $button-color-hover;
    }
  }
}

#form {
  @include form-container;

  .form--block {
    @include form-block;

    #price {
      @include price;
    }

    #color {
      @include color;
    }

    #color:focus {
      @include color-focus;
    }

    .form--name {
      @include form-name-size;

      #name {
        @include name;
      }

      #name:focus {
        @include name-focus;
      }
    }
    .button--submit {
      align-self: flex-end;
      margin-top: 10px;
      height: 15%;
      width: 37%;
      border: none;
      border-radius: 5px;
      background-color: $button-color;
      color: aliceblue;
      cursor: pointer;
    }

    .button--submit:hover {
      background-color: $button-color-hover;
    }
  }
}

@media (max-width: 1400px) {
  #form {

    .form--block {

      .button--submit {
        width: 45%;
      }

      .form--name {
        width: 100%;
      }
    }
  }
}
