@use '../common/style' as *;

#container {
  @include form-container;

  .container__form {
    @include form-block;

    #edit__form {

      .textfield--edit--name {
        @include form-name-size;

        #edit--name {
          @include name;
        }

        #edit--name:focus {
          @include name-focus;
        }
      }

      #edit--color {
        @include color;
      }

      #edit--color:focus {
        @include color-focus;
      }

      #edit--price {
        @include price;
      }

      .textfield--edit--price {
        margin-top: 12px;
        margin-bottom: 10px;
      }

      .textfield--edit--color {
        margin-top: 12px;
      }

      .div__edit__link {
        display: flex;
        justify-content: space-between;

        .edit__link__button {
          margin: 0;
          border: none;
          border-radius: 5px;
          background-color: $button-color;
          color: aliceblue;
          cursor: pointer;
        }

        .edit__link__button:hover {
          background-color: $button-color-hover;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  #container {

    .container__form {

      #edit__form {

        .div__edit__link {

          .edit__link__button:nth-child(1) {
            margin-right: 10px;
          }
        }

        .textfield--edit--name {
          width: 100%;
        }
      }
    }
  }
}
