<header class="header__flower--tables">

  <a class="link--flower__form" routerLink="/flower-form">
    <button
      size="s"
      tuiButton
      type="button"
      class="flower__form__link__button"
    >
      Добавить
    </button>
  </a>

</header>

<div class="container">
  <div
    tuiAppearance="floating"
    tuiCardLarge
    class="flower--card"
    *ngFor="let flower of flowers$ | async"
  >

    <header tuiHeader>
      <h1 tuiTitle>
        {{ flower.name }}
        <span tuiSubtitle>{{ flower.color }}</span>
        <span tuiSubtitle>{{ flower.price | currency}}</span>
      </h1>
    </header>

    <footer class="buttons--flower--card">
      <button
        appearance="secondary"
        size="m"
        tuiButton
        type="button"
        class="button--buy"
      >
        Купить
      </button>

      <a routerLink="/flower-edit">
        <button
          size="m"
          tuiButton
          type="button"
          class="button--edit"
          (click)="getSelectedFlower(flower)"
        >
          Изменить
        </button>
      </a>
    </footer>
  </div>
</div>
