* {
  --button-color: #7472f7;
  --accent-color: #aea7fa;
  --button-color-hover: #131196;
  --input-color-panel: #e0e0e9;
}

.header-flower-tables {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #9d55e5;

  .link-on-flower-form {
    margin-right: 20vw;
    .flower-form-link-button {
      font-weight: bold;
      background-color: var(--button-color);
    }

    .flower-form-link-button:hover {
      background-color: var(--button-color-hover);
    }
  }
}

.container {
  background-color: #aea7fa;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .flower-card {
    margin: 5vh 2vw;
    width: 15vw;
    height: 25vh;


    .buttons-flower-card {
      display: flex;
      justify-content: space-between;
    }
  }
}

.tui-input-price, .tui-input-color {
  margin-top: 1rem;
}

.tui-input-name {
  margin-top: 2rem;
}
