* {
  --button-color: #7472f7;
  --accent-color: #aea7fa;
  --button-color-hover: #131196;
  --input-color-panel: #e0e0e9;
}

.header__flower--tables {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #9d55e5;

  .link--flower__form {
    margin-right: 20vw;

    .flower__form__link__button {
      font-weight: bold;
      background-color: var(--button-color);
    }

    .flower__form__link__button:hover {
      background-color: var(--button-color-hover);
    }
  }
}

.container {
  background-color: #aea7fa;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .flower--card {
    margin: 5vh 2vw;

    .buttons--flower--card {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1200px) {
  .container {

    .flower--card {
      align-self: center;
      width: 20%;
      height: 100%;

      .buttons--flower--card {

        .button--edit {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {

    .flower--card {
      align-self: center;
      width: 30%;

      .buttons--flower--card {

        .button--edit {
          margin-left: 15px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;

    .flower--card {
      align-self: center;
      width: 60%;
    }
  }
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;

    .flower--card {
      align-self: center;
      width: 90%;
    }
  }
}
