<div class="container">
  <div
    tuiAppearance="floating"
    tuiCardLarge
    class="flower-card"
    *ngFor="let flower of flowers$ | async"
  >
    <header tuiHeader>
      <h1 tuiTitle>
        {{ flower.name }}
        <span tuiSubtitle>{{ flower.color }}</span>
        <span tuiSubtitle>{{ flower.price | currency}}</span>
      </h1>
    </header>

    <footer class="buttons-flower-card">
      <button
        appearance="secondary"
        size="m"
        tuiButton
        type="button"
      >
        Купить
      </button>
      <button
        appearance="secondary"
        size="m"
        tuiButton
        type="button"
        class="edit"
      >
        Изменить
      </button>
    </footer>
  </div>
</div>

