.container {
  background-color: #aea7fa;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .flower-card {
    margin: 5vh 2vw;
    width: 15vw;
    height: 25vh;


    .buttons-flower-card {
      display: flex;
      justify-content: space-between;
    }
  }
}


