<header class="header-flower-tables">

  <a class="link-on-flower-form" routerLink="/flower-form">
    <button
      size="s"
      tuiButton
      type="button"
      class="flower-form-link-button"
    >
      Добавить
    </button>
  </a>

</header>

<div class="container">
  <div
    tuiAppearance="floating"
    tuiCardLarge
    class="flower-card"
    *ngFor="let flower of flowers$ | async"
  >
    <header tuiHeader>
      <h1 tuiTitle>
        {{ flower.name }}
        <span tuiSubtitle>{{ flower.color }}</span>
        <span tuiSubtitle>{{ flower.price | currency}}</span>
      </h1>
    </header>

    <footer class="buttons-flower-card">
      <button
        appearance="secondary"
        size="m"
        tuiButton
        type="button"
      >
        Купить
      </button>

      <button
        size="m"
        tuiButton
        type="button"
        (click)="showSelectModal(flower)"
      >
        Изменить
      </button>

      <ng-template
        let-observer
        [tuiDialogOptions]="{label: 'Declarative directive', size: 's'}"
        [(tuiDialog)]="open"
      >

        <form
          [formGroup]="editForm"
          (ngSubmit)="observer.complete()"
        >
          <tui-input
            tuiAutoFocus
            formControlName="name"
            class="tui-input-name"
          >
            Name:
          </tui-input>

          <tui-input
            formControlName="color"
            class="tui-input-color"
          >
            Color:
          </tui-input>

          <tui-input
            formControlName="price"
            class="tui-input-price"
          >
            Price:
          </tui-input>

          <p>
            <button
              size="m"
              tuiButton
              type="submit"
              *ngIf="flower.id !== undefined"
              (click)="updateFlower()"
              [disabled]="!editForm.valid"
            >
              Изменить
            </button>
          </p>
        </form>
      </ng-template>
    </footer>
  </div>
</div>
